

body {
  max-width: 100%;
  background-color: #b4d3ef7d;
  font-family: "Lexend Zetta", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
} 

.container-main {
  max-width: 1110px;
  margin: 0 auto;
}
.container {
  max-width: 100%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5F4FB;
  padding-block: 10px;
  padding-inline: 30px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.home, .quiz {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px;
  border-radius: 20px;
}

.home:hover, .quiz:hover {
  background-color: #94C1EB7D;
}

.home-content {
  font-size: 15px;
  font-weight: 400;
  line-height: 18.75px;
  padding-inline: 30px;
  padding-block: 30px;
  background-color: #fff;
  border-radius: 60px;
}


.main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/*  quiz  */
.quiz-page-content {
  width: 100%;
  display: block;
  /* flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  /* gap: 10px; */
  margin: 0 auto;
  padding-inline: 200px;
  margin-block: 20px;
}
.start-btn{
  font-family: Lexend Peta;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  padding-inline: 20px;
  padding-block: 5px;
  background-color: #9DC5FC;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  color: #E5F4FB;
}

.random-letter-bar {
  /* width: max-content; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* gap: 200px; */
  margin-bottom: 10px;
}

.webcam-bar {
  text-align: center;
}

.check-btn , .continue-btn, .close-btn{
  font-family: Lexend Peta;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  padding-inline: 5px;
  /* padding-block: 5px; */
  background-color: #9DC5FC;
  border-radius: 20px;
  border: none;
  color: #E5F4FB;
  /* margin: 0 auto; */
}

.modal {
  width: 300px;
  height: 200px;
  background-color: #d7e7fd;
  border-radius: 10px;
  padding: 20px;

}

.trueBar, .falseBar {
  display: flex;
  align-items: center;
  gap: 10px;

  & > img {
    width: 50px;
    height: 50px;
  }
}

.true-false-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.requested-letter-bar, .requested-letter, .trueBar, .falseBar {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 500;

}

.letter-no {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #94C1EB7D;
  padding: 5px;
  border-radius: 8px;
}

.true-count, .false-count{
  margin-block: 3px;
  font-size: 20px;

}

.requested-letter{
  font-size: 50px;
  font-weight: 700;
  background-color: #000;
  padding-inline: 6px;
  border-radius: 5px;
  border: 2px solid #73abf9;
}

.timer {
  font-size: 30px;
  font-weight: 600;
}

.predicted-letter {
  font-size: 30px;
  font-weight: 600;
}


.deneme{
  display:"flex" !important;
  gap:"10px";
  align-items:"center";
  justify-content:"center";
  margin-block: 20px;
  background-color: #94C1EB7D;
  border-radius: 10px;
}